.join-back {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: -140px;
}

.upper-section {
  transform: translate(0%, -740%);
}

.join-title {
  height: 100px;
  width: 170px;
  background-color: aquamarine;
  text-align: center;
  border-radius: 150px;
  margin-left: 30px;
}

.join-title h1{
  padding-top: 30px;
  color: white;
}